.body{
    background-color: white;
    display: block;
}
.logo{

    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.section{
    background-color: yellow;
    padding: 0px 0px 50px 0px;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.articles{
    display: block;
    width: 200px;
    height: 300px;
    background-color: aqua;
}
.division{
    background-color: black;
}
