.body{
    background-color: rgb(37, 35, 35);
    display: block;
}
.section{
    background-color: yellow;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
