.body{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 50px;
    background-color: rgb(40,40,40);
    color: white;
    background-image: url(./PeliculasPoster/50\ Dark\ Black\ Backgrounds\ _\ Art\ and\ Design.jpg);
}
.footer {
    background-color: red; 
    color: white; 
    padding: 20px;
    text-align: center;
  }
  .h3Footer {
    margin-bottom: 10px; 
  }
  .imgFooter {
    width: 100px; 
    height: auto;
    border-radius: 50%;
  }
.h2{
    color: white;
    font-size: 40px;
}

.h1{
    text-align: center; 
}

/* header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.img{
    width: 100%;
}
.descripcion{
    display: block;
    height: 100;
    color: white;
}
@media screen and (max-width:810px){
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img{
        width: 50vh;
        height: 70vh;
    }
    .ul{
        font-size: 30px;
    }
    .logo{
        width: 25%;
        border-radius: 50%;
    }

}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
  }
  
  .articles {
    margin: 10px;
    width: 100%;
    max-width: 300px; /* Ancho máximo para cada artículo */
  }
  
/* Nuevo Header */
.header {
    padding: 20px 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.buscador {
    padding: 10px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

.buscar {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.nav a {
    text-decoration: none;
    color: red;
    margin-left: 20px;
}